In [1]:
#import statements
import pandas as pd
import json
data = []

In [2]:
#Review.json  - Properties taken : user_id, business_id, stars, useful, funny, cool, text
reviewCols = ['user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']

with open('D:\\CBS_MSc_Docs\\Courses\\Sem3\\AIML\\data\\yelp_academic_dataset_review.json', encoding='utf-8') as f:
    for line in f:
        record = json.loads(line)
        # Extract only the desired properties
        data.append({col: record.get(col) for col in reviewCols})

df_review = pd.DataFrame(data)

f.close()
data = []

In [3]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 8 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      object
 1   business_id  object
 2   stars        float64
 3   useful       int64
 4   funny        int64
 5   cool         int64
 6   text         object
 7   date         object
dtypes: float64(1), int64(3), object(4)
memory usage: 426.7+ MB

Index(['business_id', 'name', 'review_count', 'categories',
       'attributes.ByAppointmentOnly', 'attributes.BusinessAcceptsCreditCards',
       'attributes.BikeParking', 'attributes.RestaurantsPriceRange2',
       'attributes.CoatCheck', 'attributes.RestaurantsTakeOut',
       'attributes.RestaurantsDelivery', 'attributes.Caters',
       'attributes.WiFi', 'attributes.BusinessParking',
       'attributes.WheelchairAccessible', 'attributes.HappyHour',
       'attributes.OutdoorSeating', 'attributes.HasTV',
       'attributes.RestaurantsReservations', 'attributes.DogsAllowed',
       'attributes.Alcohol', 'attributes.GoodForKids',
       'attributes.RestaurantsAttire', 'attributes.Ambience',
       'attributes.RestaurantsTableService',
       'attributes.RestaurantsGoodForGroups', 'attributes.DriveThru',
       'attributes', 'attributes.NoiseLevel', 'attributes.GoodForMeal',
       'attributes.BusinessAcceptsBitcoin', 'attributes.Smoking',
       'attributes.Music', 'attributes.GoodForDancing',
       'attributes.BestNights', 'attributes.BYOB', 'attributes.Corkage',
       'attributes.BYOBCorkage', 'attributes.Open24Hours',
       'attributes.RestaurantsCounterService', 'attributes.AgesAllowed',
       'attributes.DietaryRestrictions'],
      dtype='object')

In [4]:
#Read Business.json

businessCols = ['business_id','name','review_count','categories','address', 'city', 'state', 'postal_code']

with open('D:\\CBS_MSc_Docs\\Courses\\Sem3\\AIML\\data\\yelp_academic_dataset_business.json', encoding='utf-8') as f:
    for line in f:
        record = json.loads(line)
        # Extract only the desired properties
        data.append({col: record.get(col) for col in businessCols})

# Flatten the JSON
#df_business = pd.json_normalize(data)

#Remove columns not required
df_business = pd.DataFrame(data)

f.close()
data = []

#df_business.columns

In [5]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   review_count  150346 non-null  int64
 3   categories    150243 non-null  object
 4   address       150346 non-null  object
 5   city          150346 non-null  object
 6   state         150346 non-null  object
 7   postal_code   150346 non-null  object
dtypes: int64(1), object(7)
memory usage: 9.2+ MB

In [7]:
#keep businesses which contains 'Restaurants and Food' as part of category
df_business2 = df_business[df_business["categories"].str.contains("Restaurants|Food", na=False)]
df_business2

,business_id,name,review_count,categories,address,city,state,postal_code
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,80,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",935 Race St,Philadelphia,PA,19107
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,13,"Brewpubs, Breweries, Food",101 Walnut St,Green Lane,PA,18054
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,6,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",615 S Main St,Ashland City,TN,37015
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,19,"Pubs, Restaurants, Italian, Bars, American (Tr...",8025 Mackenzie Rd,Affton,MO,63123
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,10,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...",2312 Dickerson Pike,Nashville,TN,37207
...,...,...,...,...,...,...,...,...
150327,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,33,"Cafes, Juice Bars & Smoothies, Coffee & Tea, R...",1181 N Milwaukee St,Boise,ID,83704
150328,1jx1sfgjgVg0nM6n3p0xWA,Savaya Coffee Market,41,"Specialty Food, Food, Coffee & Tea, Coffee Roa...",11177 N Oracle Rd,Oro Valley,AZ,85737
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,35,"Restaurants, Mexican",1108 S 9th St,Philadelphia,PA,19147
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,14,"Restaurants, Comfort Food, Food, Food Trucks, ...",4405 Pennell Rd,Aston,DE,19014
150340,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,18,"Middle Eastern, Restaurants",2470 Guardian Road NW,Edmonton,AB,T5T 1K8

In [8]:
total_reviews_per_name = (
    df_business2.groupby('name')['review_count']
    .sum()
    .reset_index()
    .sort_values(by='review_count', ascending=False)
)
total_reviews_per_name

                         name  review_count
34933               Starbucks         20692
23512              McDonald's         17359
11182                 Dunkin'          9864
7848   Chipotle Mexican Grill          9383
13015             First Watch          8921
...                       ...           ...
9218          Cravings Gelato             5
42003                     Vöd             5
38834       The Mobile Bistro             5
10867             Dos Sisters             5
9630   Cutone Mario Mushrooms             5

[43836 rows x 2 columns]

In [9]:
#count number of restaurants with same name 
v = df_business2["name"].value_counts()
v

name
Starbucks                      724
McDonald's                     703
Dunkin'                        510
Subway                         459
Taco Bell                      365
                              ...
Alma Mater                       1
Varalli                          1
Rosies Deli & Sandwich Shop      1
Jin China                        1
West Side Kebab House            1
Name: count, Length: 43836, dtype: int64

In [ ]:
'''true_values = v[v == True]
true_values'''

In [13]:
df_businessx = df_business2[df_business2["name"].isin(v.index[v.lt(2)])]
df_businessx

,business_id,name,review_count,categories,address,city,state,postal_code
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,80,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",935 Race St,Philadelphia,PA,19107
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,13,"Brewpubs, Breweries, Food",101 Walnut St,Green Lane,PA,18054
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,19,"Pubs, Restaurants, Italian, Bars, American (Tr...",8025 Mackenzie Rd,Affton,MO,63123
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,10,"Vietnamese, Food, Restaurants, Food Trucks",,Tampa Bay,FL,33602
14,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,100,"Food, Delis, Italian, Bakeries, Restaurants",2575 E Bay Dr,Largo,FL,33771
...,...,...,...,...,...,...,...,...
150322,2MAQeAqmD8enCT2ZYqUgIQ,The Melting Pot - Nashville,204,"Fondue, Beer, Wine & Spirits, Food, Restaurants","166 2nd Ave N, Ste A",Nashville,TN,37201
150323,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,998,"Bars, Gastropubs, Sandwiches, Nightlife, Resta...",246 N 8th St,Boise,ID,83702
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,35,"Restaurants, Mexican",1108 S 9th St,Philadelphia,PA,19147
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,14,"Restaurants, Comfort Food, Food, Food Trucks, ...",4405 Pennell Rd,Aston,DE,19014
150340,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,18,"Middle Eastern, Restaurants",2470 Guardian Road NW,Edmonton,AB,T5T 1K8

In [6]:
#filter restaurants which have more than 6 branches
df_business2 = df_business2[df_business2["name"].isin(v.index[v.gt(6)])]
df_business2

,business_id,name,review_count,categories,address,city,state,postal_code
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,6,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",615 S Main St,Ashland City,TN,37015
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,10,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...",2312 Dickerson Pike,Nashville,TN,37207
12,il_Ro8jwPlHresjw9EGmBg,Denny's,28,"American (Traditional), Restaurants, Diners, B...",8901 US 31 S,Indianapolis,IN,46227
22,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,20,"Steakhouses, Asian Fusion, Restaurants",6625 E 82nd St,Indianapolis,IN,46250
23,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,339,"Restaurants, Italian",5505 S Virginia St,Reno,NV,89502
...,...,...,...,...,...,...,...,...
150313,sf_oQ62L8UEnOOLf00nNGA,Pizza Hut,6,"Restaurants, Pizza, Fast Food, Chicken Wings, ...",5028 Old Hickory,Hermitage,TN,37076
150315,WXNag-tmudrFHFlfNLogWg,Whole Foods Market,71,"Health Markets, Specialty Food, Food, Grocery",4577 W Pine Blvd,St. Louis,MO,63108
150321,AM7O0cwkxm6w_e0Q7-f9FQ,Starbucks,29,"Food, Coffee & Tea",8817 S US-31,Indianapolis,IN,46227
150325,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,11,"Restaurants, Sandwiches, Convenience Stores, C...",19 N Bishop Ave,Clifton Heights,PA,19018
150327,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,33,"Cafes, Juice Bars & Smoothies, Coffee & Tea, R...",1181 N Milwaukee St,Boise,ID,83704

In [ ]:
#verify it does what we need --business2
#df_business3 = df_business2[df_business2["name"].str.contains("Taco Bell", na=False)]
#df_business3

In [7]:
#Dataframe merge ---- Main Dataset!!!
#Reviews X Business2df

dataset_df = pd.merge(df_review, df_business2, on="business_id")
dataset_df

,user_id,business_id,stars,useful,funny,cool,text,date,name,review_count,categories,address,city,state,postal_code
0,QzCEzH3R7Z6erOGLr3t55Q,0pMj5xUAecW9o1P35B0AMw,5.0,1,0,1,Great staff always helps and always nice. Alwa...,2017-05-26 13:10:24,Wawa,8,"Food, Coffee & Tea, Gas Stations, Restaurants,...",2544 W Main Street,Norristown,PA,19403
1,3MpDvy5gEdsbZh9-p92dHg,8QnuWGVNBhzyYXGSeRdi4g,4.0,0,0,0,After my ROTD yesterday of a different Sweet ...,2013-10-24 19:24:33,Sweet Cece's,17,"Food, Ice Cream & Frozen Yogurt",7114 Hwy 70 S,Nashville,TN,37221
2,bCla27ma_6i_QFrGkILKrQ,sLgnx_WFCjEoPsS6NwU70Q,5.0,0,0,0,Our family returned for breakfast again this w...,2014-10-27 16:31:37,Le Peep,259,"Event Planning & Services, Salad, Caterers, Am...",3036 N Eagle Rd,Meridian,ID,83646
3,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1.0,1,0,0,"If I could give it a zero, I would. I order a ...",2011-08-24 23:07:08,Jack in the Box,86,"Restaurants, Fast Food, Mexican, Tacos, Burger...",6875 Hollister Ave,Goleta,CA,93117
4,mEOMAeEonZoUx2nPM3v6fg,f-WhNOSwN1aB4nRFekf01g,4.0,0,0,0,Id you haven't been to the Smoothie King cente...,2015-03-19 00:30:09,Smoothie King,50,"Arts & Entertainment, Ticket Sales, Food, Juic...",1501 Dave Dixon Drive Space 101-102,New Orleans,LA,70113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586709,6YRmtPVvnD_mexQifxAJsg,IkjBNJvMZhea1c3j2H2Ahw,3.0,0,0,0,"Besides it being super busy often, usually, I ...",2022-01-10 12:51:07,Starbucks,31,"Food, Coffee & Tea",2350 South Grand Ave,St. Louis,MO,63104
586710,6Hmh8UC5K0oBgp3_D5doDQ,BxveKq0rKp52EWooIDK54w,2.0,3,1,0,Where do i begin. Overall the food was fine. I...,2019-12-08 19:24:12,Denny's,88,"Breakfast & Brunch, American (Traditional), Re...",3155 E Fairview Ave,Meridian,ID,83642
586711,UfevNSM_H14XXWZFlHYPoA,TNtcjnta11CpDebuBNdoug,2.0,0,1,0,Our waiter was good but a bit rushed. I didn't...,2017-10-22 20:55:12,Red Robin Gourmet Burgers and Brews,83,"Home Services, American (New), Contractors, Am...",130 Gravois Bluffs Cir,Fenton,MO,63026
586712,LHWtjTG7e1NzNPYUbUo-9w,rgeuy1qbw6Z8B6CSVANHIA,5.0,1,1,1,I've been to the other Federal Donuts location...,2012-10-13 14:39:37,Federal Donuts,1464,"Donuts, Sandwiches, Soul Food, Food, Coffee & ...",1632 Sansom St,Philadelphia,PA,19103
586713,x1QLCwZGFAjxRRw4EHc3-g,1_BVWDzi5cVqWxNe9bOMMQ,5.0,1,0,1,Don't misinterpret my 5-star review....I don't...,2016-04-30 01:02:34,Wendy's,55,"Restaurants, Burgers, Food, Fast Food",2130 Hampton Avenue,St.Louis,MO,63139

In [8]:
dataset_df.to_json('dataset_df.json', orient='records', lines=True)

In [ ]:
#checking if merged properly
#df_check = dataset_df[dataset_df["business_id"].isna()]
#df_check
#dataset_df["text"].isnull().values.any()

In [ ]:
duplicates = dataset_df[dataset_df.duplicated(subset=['user_id'], keep=False)]
#print(duplicates)

#mqBWACmaHflW4eh_Ofp16Q
duplicates = duplicates[duplicates["user_id"].str.contains("J7R2lsHoRAVIHXhcrSTlGQ")]
print(duplicates[["user_id", "text"]])

In [ ]:
#Check if there are multiple entries from same user for same business
users = []
users = dataset_df[["user_id", "business_id"]].value_counts()
users

In [ ]:
#Check if there are multiple entries from same user for same business

multiple_reviews = dataset_df.loc[(dataset_df["user_id"] == "EryvaUTsMnk26eiauFWapQ") & (dataset_df["business_id"] == "3_icitB518vI8Hr0wEzl8A"), :]
multiple_reviews

Suggestions by Nicolai:

Design choice - do A to C first then the other model

Explain why you chose the model - why and how did you apply this to the business Model

Try using smaller language model 7 million - one - reason - run through more data - more money

Try to use - instructor / response models - consistent and structuired op from llm

future examples and chain of thought

How to train - models that do sentiment already - HuggingFace - roberta - base models

use models like roberta to label it - ideal world you do human and AI annotation

Everywhere where confidence is over 85 - we assume it to be true if less we take a look at the sentiment and correct it.

ensemble models (LAST!!!!) - multiple models running at the same time - more agree more certain - 4 or more models running at the same time